<app-nav-bar></app-nav-bar>
<!-- section home -->
<section class="home">
  <div class="container">
    <div class="description">
      <h1>More than just shorter links</h1>
      <p>Build your brand's recognition and get detailed insights o how your links are performing.</p>
      <button class="started">Get Started</button>
    </div>
    <img src="assets/illustration-working.svg" alt="">
  </div>
</section>
<!-- section stats -->
<section class="stats">
  <div class="container">
    <form>
      <input type="text" placeholder="Shorten a link here...">
      <input type="submit" value="Shorten It!">
    </form>
  </div>
</section>
